@import "../../globals.scss";

.scrollElement {
  position: relative;
}

.header {
  @extend .scrollElement, .vertical-center;
  min-height: calc(100vh - 60px);
  padding: 1em;
  text-align: center;
  color: #{$color-primary};
  background: #{$color-secondary};
  text-align: center;
  h1 {
    margin-bottom: 1rem;
  }
}

.learnMoreBtn {
  width: fit-content;
  margin: 0 auto;
}
