.form {
  width: 80%;
  margin: 0 auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  @media screen and(min-width: 60em) {
    width: 50%;
  }
}

.form-input {
  display: block;
  width: 100%;
  margin: 0.5em;
  padding: 0.5em;
  border: solid 0.1em white;
  outline: none;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}

.form-submit {
  margin: 0.5em auto;
  padding: 0.5em 2em 0.5em 2em;
  text-transform: capitalize;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}

.form-submit:hover {
  background-color: white;
  color: #0083b0;
  cursor: pointer;
}
