@import "../../globals.scss";

.footer {
  @extend .vertical-center;
  min-height: 20vh;
  text-align: center;
  padding: 1em;
  color: #{$color-primary};
  background: #{$color-secondary};
}

.footer hr {
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  width: 50%;
  border-top: 2px solid grey;
}

.footer p {
  text-align: center;
  margin-bottom: 0;
}
